@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/site.js"></script>

<div class="text-center">
    <h1 class="display-4">Movie Database</h1>
    <p>Search for movies using the search function below.</p>
</div>
<div>
    <fieldset>
        <legend>Search</legend>        
        <div>
            
        </div>
        <div class="row">
            <div class="column">
				<label for="titleSearchInput">Title contains:</label>
            </div>
            <div class="column">
                <label for="maxResultsSelect">Limit results to:</label>                
            </div>
        </div>
        <div class="row">
            <div class="column">
                <input id="titleSearchInput" type="text" maxlength="100">
            </div>
            <div class="column">
                <select id="maxResultsSelect">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <button id="searchButton" type="button">Search</button>
            </div>
        </div>
    </fieldset>
</div>
<table>
    <thead>
        <tr>
            <th><a id="titleSortLink" href="#">Title</a></th>
            <th><a id="releaseDateSortLink" href="#">Release Date</a></th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody id="searchResults">
        
    </tbody>
</table>
<div id="pagingLinks"></div>
